.wrapper{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.card{
  padding: 20px;
  box-shadow: 0 0 7px 7px lightseagreen;
}
.imgWrapper{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
  }
}
.fullname{
  text-align: center;
}
.age{
  font-weight: bold;
}
.red{
  color:red;
}
.green{
  color: green;
}