.input{
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
}
.todoWrapper{
  padding: 20px;
}

.list{
  display: flex;
  flex-direction: column;
  gap:10px;
  .item{
    box-shadow: 2px 2px 5px 5px gray;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
  }
}
.wrapperSearch{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.addFormWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}